/* Logo and top buttons */
.roomLogo,
.headerMenu__item {
    transition: transform 0.2s;
    cursor: pointer;
}

.roomLogo:hover,
.headerMenu__item:hover {
    transform: scale(1.1);
}

/* Arrow buttons */
.arrowButtons>* {
    cursor: pointer;
}

.arrowButtons>* img {
    transition: transform 0.5s;
}

.arrowButtons>*:hover img {
    transform: scale(1.5);
}

/* Shop now text*/
.firstSection__bottom__shopNow {
    cursor: pointer;
}

/* Image animations are not here */


/* Burger menu */
.burgerMenu {
    transition: transform 0.2s;
}

.burgerMenu:hover {
    transform: scale(1.1);
}

/* Mobile menu */
.mobileMenu__closeButton {
    transition: transform 0.8s;
    cursor: pointer;
}

.mobileMenu__closeButton:hover {
    transform: scale(1.2);
    transform: rotate(180deg);
}

.mobileMenu__items > * {
    transition: transform 0.2s;
    cursor: pointer;
}

.mobileMenu__items > *:hover {
    transform: scale(1.1);
}