@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
}

:root {
    /* Colors */
    --black: hsl(0%, 0%, 0%);
    --white: hsl(0%, 100%, 100%);

    --grey50: hsl(0%, 0%, 98%);
    --grey100: hsl(0%, 0%, 94%);
    --grey200: hsl(0%, 0%, 85%);
    --grey500: hsl(0%, 0%, 63%);
    --grey800: hsl(0%, 0%, 27%);
}

/* Typographies */
.tp1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 90%;
    letter-spacing: -2px;
}

.tp2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -2px;
}

.tp3-bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 7px;
}

.tp3-semibold {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.7px;
}

.tp3-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.5px;
}

.tp4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 12.5px;
}